html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  margin: 15px;
}
table caption {
  border-bottom: none;
  font-weight: bold;
}
td,
th,
caption {
  border: 1px solid #000;
}

.red {
  color: red;
}
